<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"><span class="fa fa-fw fa-home"></span>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/technology">Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/salesMarketing">Sales and Marketing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/humanResources">Human Resources</a>
      </li>
    </ul>
</nav>
<router-outlet></router-outlet>
