<ul class="list-group">
  <li class="list-group-item">
    <img src="https://img.icons8.com/color/30/000000/down-squared.png" />CEO
    <ul class="list-group">
      <li class="list-group-item">
        <img src="https://img.icons8.com/color/30/000000/expand-arrow.png" />
        Director of Software Engineering
        <ul class="list-group">
          <li class="list-group-item">
            <img
              src="https://img.icons8.com/color/30/000000/chevron-right.png"
            />Head of Software Engineering
            <ul class="list-group">
              <li class="list-group-item">
                <img
                  src="https://img.icons8.com/color/30/000000/drag-list-down.png"
                />Tech Lead
                <ul class="list-group">
                  <li class="list-group-item">
                    <img
                      src="https://img.icons8.com/color/30/000000/checked-radio-button.png"
                    />ASE
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://img.icons8.com/color/30/000000/checked-radio-button.png"
                    />SE
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://img.icons8.com/color/30/000000/checked-radio-button.png"
                    />SSE
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
